@model Blockchain_MocChauMilk.Models.NguoiDung

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<h2>Xóa người dùng</h2>

<h3>Có chắc chắn xóa người dùng này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VaiTro.VaiTro1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VaiTro.VaiTro1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        @*
         <dt>
             @Html.DisplayNameFor(model => model.SoE)
         </dt>

        <dd>
             @Html.DisplayFor(model => model.SoE)
         </dd>

         <dt>
             @Html.DisplayNameFor(model => model.SoN)
         </dt>

         <dd>
             @Html.DisplayFor(model => model.SoN)
         </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa người dùng" class="btn btn-danger" /> 
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>
