<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="~/Content/layoutAdmin/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
@{
    var userAdmin = Session["userAdmin"] as Blockchain_MocChauMilk.Models.NguoiDung;

}
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark badge-success">
        <a class="navbar-brand" href="#"><img src="~/Content/images/logo.jpg" width="130" height="50" /></a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button><!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Từ khóa..." aria-label="Search" aria-describedby="basic-addon2" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Cài đặt</a><a class="dropdown-item" href="#">Nhật kí</a>
                    <div class="dropdown-divider"></div>
                    <a class=" dropdown-item" href="@Url.Action("Dangxuat", "HomeAdmin")"> Đăng xuất</a>

                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        @{
                            if (userAdmin != null)
                            {
                                <div class="sb-sidenav-menu-heading" style="color:red">Xin chào: @userAdmin.TaiKhoan </div>

                            }
                        }
                        <div class="sb-sidenav-menu-heading"> <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>Quản lý chức năng</div>
                        <a class="nav-link" href="@Url.Action("Quytrinhchuaxacthuc", "KiemDinhs")"> <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>Quy trình chưa ký</a>
                        <a class="nav-link" href="@Url.Action("Quytrinhdaxacthuc", "KiemDinhs")"> <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>Quy trình đã ký</a>
                        <a class="nav-link" href="@Url.Action("Index", "KiemDinhs")"> <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>Tất cả quy trình</a>
                        <a class="nav-link" href="@Url.Action("Quytrinhbisuadoi", "KiemDinhs")"> <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>Quy trình bị sửa đổi</a>
                        <a class="nav-link" href="@Url.Action("TaoKhoa", "TaoMoiRSA")"> <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>Tạo chữ ký RSA</a>

                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Thiết kế bởi:</div>
                    Cường
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted"> CNTT-HDU &copy; 2020</div>
                        <div>
                            <a href="#"> Xem thêm</a>
                            &middot;
                            <a href="#">BlockChain &amp; ATTT</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Content/layoutAdmin/js/scripts.js"></script>
</body>
</html>