@model Blockchain_MocChauMilk.Models.LoHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LoHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLoHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySanXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySanXuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaLoHang }) |
    @Html.ActionLink("Back to List", "Index")
</p>
